<style>
    :root {
        --article-font-family: "Titillium Web", var(--base-font-family);
    }
  </style>
  
  <!-->This script use to load font from outside<-->
  <script>
    (function () {
        const customFont = document.createElement('link');
        customFont.href = "https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap";
  
        customFont.type = "text/css";
        customFont.rel = "stylesheet";
  
        document.head.appendChild(customFont);
    }());
  </script>